
<div class="container mt-5">
<div class="alert alert-primary" role="alert">
  Current notice to all your students!
</div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teacher Statistics</h4>
          <h6 class="card-subtitle mb-2 text-muted">Common information</h6>
          <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View All Statistics</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Video Uploads</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View All Uploads</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Comments</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View All Comments</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus leo in lorem interdum convallis. Cras mauris erat, tincidunt non nisl sed, aliquam vestibulum ligula. Proin a arcu quis elit volutpat sodales. In nec interdum nisl. In feugiat ultricies tincidunt. Fusce vitae augue sit amet nisi porta commodo. Nam aliquet nibh a urna efficitur varius. Curabitur aliquam neque in velit dictum laoreet. Pellentesque sed dolor feugiat, lacinia nisl at, iaculis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et cursus nisl. Aliquam euismod odio et gravida ultrices.</p>

      <p>Fusce fringilla, ipsum at hendrerit pellentesque, lorem ipsum tempor neque, nec ullamcorper nisl erat maximus odio. Morbi sit amet condimentum arcu. Fusce cursus pellentesque porttitor. Integer vitae elit sed eros lobortis facilisis eu euismod dolor. Nunc ut ipsum sit amet eros consequat consectetur vel quis risus. Phasellus scelerisque iaculis dolor, condimentum ultrices erat eleifend at. Curabitur non placerat nisl. Quisque ut vulputate arcu, in dignissim felis.</p>

      <p>Nullam orci velit, venenatis at urna vel, ullamcorper luctus massa. Suspendisse potenti. Suspendisse potenti. Sed congue eu lacus at scelerisque. Maecenas eget ultricies purus, ac vestibulum lorem. Nulla facilisi. Aenean ut mauris sit amet purus auctor rhoncus. Donec iaculis justo sit amet laoreet viverra. Nam tempus nunc ut felis gravida, vel maximus dolor interdum. Morbi nibh lorem, lacinia a tempor sit amet, venenatis a ligula. Sed in quam facilisis, efficitur orci eget, lacinia leo.JUNK</p>
    </div>
  </div>
</div>