<nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-end">
  <a class="navbar-brand" href="#">Anicamp Pro</a>
  </div>
  <div clss="d-flex justify-content">
  <a class="navbar-brand" href="#">Tips</a>
  <a class="navbar-brand" href="#">Global Lessons</a>
  <a class="navbar-brand" href="#">Students</a>
  </div>
  <div class="d-flex justify-content-end">
  <a class="navbar-brand float-right" href="#">Invite Student</a>
  <a class="navbar-brand float-right" href="#">Profile</a>
  </div>
</nav>